In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 21.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
countries_shortcuts = ["US", "IE", "FR", "GB", "CH", "NL", "JP", "CA", "LU", "DE", "JE", "ES", "BE", "AT", "PT", "DK", "CZ"]
countries_full = ["USA", "Irsko", "Francie", "Velká Británie", "Švýcarsko", "Nizozemsko", "Japonsko", "Kanada",
                  "Lucembursko", "Německo", "Jersey", "Španělsko", "Belgie", "Rakousko", "Portugalsko", "Dánsko", "Česko"]
countries_data = pd.DataFrame({'shortcuts': countries_shortcuts, 'full names': countries_full})

#jednotné kurzy za rok 2023 jsou níže
USD_UFX = 22.14
GBX_UFX = 0.2759
GBP_UFX = GBX_UFX * 100
EUR_UFX = 23.97
CHF_UFX = 24.69
CZK_UFX = 1

currencies_list = ["USD", "GBX", "GBP", "EUR", "CHF", "CZK"]
unified_forex = [USD_UFX, GBX_UFX, GBP_UFX, EUR_UFX, CHF_UFX, CZK_UFX]
currencies_data = pd.DataFrame({'name': currencies_list, 'value': unified_forex})

In [4]:
def process_dividend_excel(excel_file, first, last, bottom_rows):
    excel_file = excel_file.drop(range(first, last)) # Drop the first 5 rows (indexed from 0 to 4)
    num_rows = excel_file.shape[0] # Find the total number of rows
    new_num_rows = num_rows - bottom_rows # Subtract 2 from total number of rows
    excel_file = excel_file[:new_num_rows] # Slice the dataframe to exclude the last 2 rows
    excel_file.columns = excel_file.iloc[0] # Assigning the first row values as column names
    excel_file = excel_file.drop(excel_file.index[0]) # Dropping the first row as it's now column names
    return excel_file

# Capital Gains

In [5]:
df_cap = pd.read_excel("11899766_2023_KALKULACE (1).XLSX", sheet_name="Souhrn", usecols="A:W")

/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'AT0000652011 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'CZ0005112300 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'CZ0008019106 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'CZ0008040318 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'CZ0009008942 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'CZ0009009874 (CZK)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'DE0002635307 (EUR)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'IE00B53SZB19 (EUR)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'IE00BKM4GZ66 (EUR)'!$A:$AB.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: Souhrn!$A:$W.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [6]:
df_cap = process_dividend_excel(df_cap, first=0, last=6, bottom_rows=9)

In [7]:
# drop all columns from df_cap except the last 9 columns and first 3 columns 
df_cap = pd.concat([df_cap.iloc[:,:6], df_cap.iloc[:,-9:]], axis=1)

df_cap

6,ISIN,Název,Měna,Upozornění,Počáteční \nstav,Konečný \nstav,Příjmy,Výdaje,Zisk/ztráta,Poplatky,Čistý zisk/ztráta,Příjmy v CZK,Výdaje v CZK,Čistý zisk/ztráta v CZK,Třída
7,CZ0005112300,CEZ,CZK,NaN,17,17,9616,-7450.5,2255.5,-90,2165.5,9616,-7450.5,2165.5,Equities
8,CZ0009008942,COLTCZ,CZK,NaN,9,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities
9,AT0000652011,ERSTE GROUP BANK,CZK,NaN,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities
10,CZ0008019106,KOMERCNI BANKA,CZK,NaN,11,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities
11,CZ0008040318,MONETA MONEY BANK,CZK,NaN,38,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities
12,CZ0009009874,PILULKA LEKARNY,CZK,NaN,10,0,4520,-9990,-5380,-90,-5470,4520,-9990,-5470,Equities
13,IE00BKM4GZ66,iShares MSCI Core Emerging Markets,EUR,NaN,20.6599,20.6599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities - ETF
14,IE00B53SZB19,iShares NASDAQ 100,EUR,NaN,1.7574,3.0141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities - ETF
15,DE0002635307,iShares STOXX Europe 600,EUR,NaN,13.1324,13.1324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities - ETF

In [8]:
def profit(currency):

    #Filter the dataframe to only include rows with the currency name and the "Market sell" action
    sells_data = df_cap.loc[(df_cap["Měna"] == currency) & (~df_cap["Čistý zisk/ztráta"].isnull())]
    sells = sells_data["Čistý zisk/ztráta"] 

    return sells.sum()

In [9]:
profit("CZK")

-3304.5

In [10]:
def income(currency):

    #Filter the dataframe to only include rows with the currency name and the "Market sell" action
    sells_data = df_cap.loc[(df_cap["Měna"] == currency) & (~df_cap["Příjmy v CZK"].isnull())]
    sells = sells_data["Příjmy"]

    return sells.sum()

In [11]:
income("CZK")

14136

In [12]:
def paragraph10():
    total_income = 0
    total_profit = 0

    for (index,row) in currencies_data.iterrows():
        one_income = income(row['name']) * row['value']
        one_profit = profit(row['name']) * row['value']
        total_income += one_income
        total_profit += one_profit
    total_expenses = total_income - total_profit
    print(f"Celkové zdanitelné příjmy z prodeje cenných papírů: {total_income:.0f} CZK, Příloha 2, tabulka 2, sloupec 2 Příjmy, řádek 207")
    print(f"Celkem výdaje spojené s pořízením cenných papírů: {total_expenses:.0f} CZK, Příloha 2, tabulka 2, sloupec 3 Výdaje, řádek 208")
    print(f"Dílčí základ daně dle §10: {total_profit:.0f} CZK, Příloha 2, tabulka 2 Úhrn, řádek 209")

In [13]:
# 1. Zákon o daních z příjmu §10
print("\n1. Zákon o daních z příjmu §10.\n")
paragraph10()

1. Zákon o daních z příjmu §10.

Celkové zdanitelné příjmy z prodeje cenných papírů: 14136 CZK, Příloha 2, tabulka 2, sloupec 2 Příjmy, řádek 207
Celkem výdaje spojené s pořízením cenných papírů: 17440 CZK, Příloha 2, tabulka 2, sloupec 3 Výdaje, řádek 208
Dílčí základ daně dle §10: -3304 CZK, Příloha 2, tabulka 2 Úhrn, řádek 209

# Dividends

In [14]:
df_divi = pd.read_excel("11899766_2023_DIVIDENDY (1).XLSX", sheet_name="Dividendy", usecols="A:L")

/opt/python/envs/default/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: Dividendy!$A:$K.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [15]:
def dividend_income(currency, ISIN):
    dividend_data = df_divi.loc[(df_divi["Měna"] == currency) & (df_divi["ISIN"].str[:2] == ISIN)]
    dividend_gross = dividend_data["Hrubá dividenda"]
    return dividend_gross.sum()

In [16]:
def withholding_tax(currency, ISIN):
    tax_data = df_divi.loc[(df_divi["Měna"] == currency) & (df_divi["ISIN"].str[:2] == ISIN)]
    withholding_tax = tax_data["Srážková daň"]
    return withholding_tax.sum()

In [17]:
def paragraph8():
    divi_all = 0
    for country in countries_data["shortcuts"]:
        divi_one_country = 0
        tax_one_country = 0

        for (index, row) in currencies_data.iterrows():
            divi_one_country_one_currency = dividend_income(row['name'], country) * row['value']
            divi_one_country += divi_one_country_one_currency
            tax_country_one_currency = withholding_tax(row['name'], country) * row['value']
            tax_one_country += tax_country_one_currency
        divi_all += divi_one_country
        if divi_one_country > 0:
            country_df = countries_data[countries_data['shortcuts'] == country]
            full_country_name = country_df.iloc[0]['full names']
            print(f"Hrubá hodnota připsaných dividend ze státu {full_country_name} je {round(divi_one_country,1)} CZK")
            print(f"Již zaplacená daň ze státu {full_country_name} je {round(tax_one_country,1)} CZK")
    print(f"Celková hrubá hodnota připsaných dividend je {round(divi_all,1)} CZK")

In [18]:
print("\n1. Příjmy podle §8 ze zdrojů v zahraničí.\n")
df_divi = process_dividend_excel(df_divi, first=0, last=5, bottom_rows=2)
paragraph8()

1. Příjmy podle §8 ze zdrojů v zahraničí.

Hrubá hodnota připsaných dividend ze státu Německo je 399.6 CZK
Již zaplacená daň ze státu Německo je 0.0 CZK
Hrubá hodnota připsaných dividend ze státu Rakousko je 273.3 CZK
Již zaplacená daň ze státu Rakousko je 75.0 CZK
Celková hrubá hodnota připsaných dividend je 672.8 CZK

In [19]:
df_divi

5,Datum vypořádání,Název cenného papíru,ISIN,Hrubá dividenda,Srážková daň,Srážková daň %,Issuance fee,Měna,Kurz ČNB,Hrubá dividenda v CZK,Srážková daň v CZK,Issuance fee v CZK
6,2023-03-15 00:00:00,iShares STOXX Europe 600,DE0002635307,1.77,0,0,0,EUR,23.94,42.37,0,0
7,2023-05-19 00:00:00,ERSTE GROUP BANK,AT0000652011,11.4,3.13,27.5,0,EUR,23.755,270.81,74.35,0
8,2023-06-15 00:00:00,iShares STOXX Europe 600,DE0002635307,6.9,0,0,0,EUR,23.765,163.98,0,0
9,2023-09-15 00:00:00,iShares STOXX Europe 600,DE0002635307,5.77,0,0,0,EUR,24.505,141.39,0,0
10,2023-12-15 00:00:00,iShares STOXX Europe 600,DE0002635307,2.23,0,0,0,EUR,24.48,54.59,0,0